* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.formContainer {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 1%;
}

.formContainer h2 {
  margin-bottom: 1%;
}

label {
  display: inline-block;
  width: 350px;
  text-align: right;
  margin-left: -8%;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.formContainer input {
  font-size: 1.1rem;
}

.formContainer input::placeholder {
  font-size: 0.9rem;
  padding-left: 5px;
}

.previewContainer {
  width: 40%;
}

.blogForm {
  display:  flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.blogForm button {
  width: 10%;
  margin-top: 2%;
}

.blogForm textarea {
  margin: auto;
  border-radius: 15px;
  padding: 1%;
  resize: none;
  width: 30rem;
  height: 7rem;
}

.commentsContainer {
  padding: 3%;
  background-color: white;
}

.commentsContainerDisabled {
  display: none;
}

.singleComment {
  color: black;
}

.postContainer {
  margin-left: 30%;
  margin-top: 5%;
}

.blogElement {
  display: grid;
  grid-template-columns: 110px 50%;
  grid-template-rows: 25px 35px 1fr 1fr;
}
/* .blogElement div {
  border: 1px solid black
} */

.imgContainer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  max-width: fit-content;
  display: flex;
  align-items: center;
}

.imgContainer img {
  border-radius: 50%;
}

.author-date {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-between;
}

.titleContainer {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.contentContainer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 100%;
  width: 100%;
}

.contentContainer p{
  word-wrap: break-word;
}

.buttonsContainer {
  grid-column-start: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}